.article-panier-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 35px 0px;
  color: var(--lightGreen);
  // padding: 0 10% 0% 0%;
}

.container-image-infos-article {
  display: flex;
  justify-content: center;

  img {
    border-radius: 200px 200px 0px 0px;
    width: 150px;
    padding: 3px;
    margin-right: 20px;
  }

  .Elya {
    background-color: #8d214c;
  }

  .Dahlia {
    background-color: #e2b95b;
  }
  .Doireann {
    background-color: #4e5c2c;
  }
  .Achlys {
    background-color: #df824d;
  }

  .info_article_panier {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
    margin: auto;
    width: 250px;

    .article-panier-nom {
      font-size: 1.3rem;
    }

    .line-info-article {
      border: 1px solid var(--lightGreen);
      width: 50%;
    }

    p {
      font-size: 1.3rem;
      margin-right: 15px;
    }

    .fav-button {
      cursor: pointer;
      background: none;
      border: none;

      img {
        width: 35px;
        height: 35px;
      }
    }
  }

  // .article-logos {
  //   margin-left: 22px;
  // }
}

.quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--darkPink);
  border: 1px solid var(--lightGreen);
  padding: 10px;
  width: 12%;

  .quantity_bouton {
    width: 30px;
    height: 100%;
    color: var(--lightGreen);
    background-color: var(--darkPink);
    border-style: none;
    font-size: 0.8rem;
    cursor: pointer;
  }

  .moins {
    background: url("../assets/moins.svg") no-repeat center;
    // background-size: 100%;
    // background-position: center;
  }

  .plus {
    background: url("../assets/plus.svg") no-repeat center;
    // background-size: 100%;
    // background-position: center;
  }

  p {
    font-size: 1.5rem;
    height: 100%;
    text-align: center;
    width: 100%;
  }
}

.prix_article_panier {
  font-size: 1.5em;
}

.end-line {
  display: flex;
  margin: 5px auto;
  align-items: center;
  border: 1px solid var(--lightGreen);
  // width: 90%;
}

@media screen and (max-width: 800px) {
  .article-panier-container {
    align-items: center;
    margin: 35px 0px;
    flex-direction: column;

    .container-image-infos-article {
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }

    .quantity {
      width: 55%;
      margin: 10px auto;
    }
    .prix_article_panier {
      margin: 10px auto;
    }
  }
}
