.BasketModalMain {
  min-height: 57vh;
}

.basketModalContainer {
  display: flex;
  justify-content: center;
  margin-top: 150px;
  color: var(--yellow);
  font-family: "Play", sans-serif;
  font-size: 25px;
}

.basketModalTanks {
  font-family: "AbhaBold", sans-serif;
}
