#bigTitle {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  min-height: 80vh;
  font-family: "AbhaBold", sans-serif;

  .yellowTitle {
    font-size: 16vw;
    width: 100%;
    background-clip: text;
    color: transparent;
    scale: 0;
  }

  .greenTitle {
    font:
      12vw "AbhaReg",
      sans-serif;
    width: 50%;
    font-weight: 100;
    background-clip: text;
    color: transparent;
  }

  #shroomGuyContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-self: flex-end;
    margin: 0 auto;

    #exploreButton {
      color: #442332;
      background-color: #bdc9ac;
      filter: drop-shadow(0 0 24px #dfeecbb0);
      border: none;
      cursor: pointer;
      font-size: 1.5rem;
      font:
        1.5rem "Antic",
        sans-serif;
      padding: 2.5vh 3vw;
      min-width: 300px;
    }

    #shroomGuy {
      position: absolute;
      aspect-ratio: auto;
      width: 22vw;
      min-width: 300px;
      bottom: 0vh;
      z-index: -1;
    }
  }

  .star1,
  .star2 {
    position: absolute;
    z-index: -1;
    filter: drop-shadow(0 0 12px #e2b95b);
  }

  .star1 {
    width: 8vw;
    left: 25vw;
  }

  .star2 {
    width: 5vw;
    bottom: 10vh;
    right: 25vw;
  }
}

@media screen and (max-width: 800px) {
  #bigTitle {
    .greenTitle {
      align-self: flex-start;
    }

    .star1 {
      top: 35vh;
    }

    .star2 {
      bottom: 35vh;
      right: 15vw;
    }
  }
}

@media screen and (min-width: 2048px) {
  #bigTitle {
    #shroomGuyContainer {
      #exploreButton {
        font-size: 2rem;
      }
    }
  }
}

@media screen and (min-height: 2048px) {
  #bigTitle {
    #shroomGuyContainer {
      #exploreButton {
        font-size: 4rem;
      }
    }
  }
}
