// ici on gere de maniere generale le double git statuscadre ou s'affichent les composants.
.cadre-container {
  height: auto;
  // max-width: 800px;
  background-color: var(--darkPink);
  border: 5px solid var(--lightGreen);
  padding: 20px;
  margin: 50px;
}
.cadre-content {
  height: 100%;
  background-color: var(--darkPink);
  padding: 50px;
  border: 3px solid var(--lightGreen);
}
