.sellerCardContainer,
.sellerCardContainerAlternate {
  height: 375px;
  aspect-ratio: 84/125;
  margin: 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 150px 150px 0 0;
  border: solid 2px;

  .sellerCard {
    width: 90%;
    height: 90%;
    padding: 1rem;
    border-radius: 150px 150px 0 0;
    // transition: all 0.2s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;

    .bkgdSellerCard {
      width: 98%; // modifié en % , les rem deforme ta carte selon le zoom et la configuration de l'utilisateur Flo.
      height: 90%;
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      background-color: var(--lightGreen);
      position: absolute;
      border-radius: 150px 150px 0 0;

      .sellerCardImage {
        height: 80%;
      }
    }
  }

  .sellerCardName {
    color: #442332;
    font-family: "PlaySemiBoldItalic", sans-serif; // ajout du sans-serif et ajout de la police semibold italic
    letter-spacing: 0.1rem;
    font-style: italic;
    font-size: 1.563rem;
    font-weight: 600;
    background-color: var(--lightGreen);
    width: calc(100% + 24px); // Astuce montrée par @Flo pendant le Hackathon
    position: relative;
    text-align: center;
    padding: 20px;
    bottom: 0.3rem;
    z-index: 1;
  }
}

// styles spécifiques pour les enfants impairs
.sellerCardContainer:nth-child(odd),
.sellerCardContainerAlternate:nth-child(odd) {
  margin-top: 15%;
  z-index: 1;
}

// réinitialisation pour .sellerCardContainerAlternate:nth-child(odd)
.sellerCardContainerAlternate:nth-child(odd) {
  margin-top: 0;
}

// style pour les enfants paires
.sellerCardContainer:nth-child(even),
.sellerCardContainerAlternate:nth-child(even) {
  z-index: 0;
}

@media screen and (max-width: 1440px) {
  .sellerCardContainer,
  .sellerCardContainerAlternate {
    height: 250px;
  }
}

@media screen and (max-width: 800px) {
  .sellerCardContainer,
  .sellerCardContainerAlternate {
    height: 250px;
  }

  .sellerCardContainer:nth-child(odd) {
    margin-top: 0;
  }
}

@media screen and (max-width: 550px) {
  .sellerCardContainer,
  .sellerCardContainerAlternate {
    height: 200px;
    margin: 5rem 10px 0 12px;

    .sellerCardName {
      font-size: 1rem;
      width: calc(100% + 20px);
      padding: 10px;
    }
  }

  .sellerCardContainer:nth-child(odd) {
    margin-top: 5rem;
  }
}

/* --- NOTE --- dans le code il faudra juste mettre acoté du compostant sellerCard alternate pour voir les cartes sur une seule ligne, ca se presentera ainsi : 
<SellerCard
key={seller.name}
seller={seller}
isSelected={isSelected}
onSelect={setSelectedSeller}
alternate
/> */
