.form-psw-container {
  max-width: 600px;
  max-height: 600px;
  padding: 5px 30px;

  .title-psw {
    background-color: var(--lightGreen);
    color: var(--darkPink);
    text-align: center;
    width: fit-content;
    padding: 15px 90px;
    text-transform: uppercase;
    font-family: "Antic", serif;
  }
  .line-user-psw {
    margin: 30px 0px;
    height: 1px;
    background-color: var(--lightGreen);
    width: 100%;
  }

  .password-input-container {
    display: flex;
    flex-direction: column;

    .labels-psw {
      margin: 1.5vh;
      font-family: "Antic", sans-serif;
      text-transform: uppercase;
      color: var(--lightGreen);
      font-weight: lighter;
      margin-bottom: 2px;
    }
    .input-psw {
      font-family: "Antic", sans-serif;
      color: var(--lightGreen);
      font-weight: lighter;
      border: 1px solid var(--lightGreen);
      background-color: var(--darkPink);
      padding: 10px;
    }

    &:focus {
      border: 1px solid var(--lightGreen);
    }
  }

  .npsw-strenght {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .toggle-password {
    width: 30%;
    padding: 3px;
    border-radius: 15px;
    border: 1px solid;
    border-color: var(--lightGreen);
    background-color: var(--lightGreen);
    color: var(--darkPink);
    margin: 1.5vh;

    &:hover {
      border-color: var(--lightGreen);
      color: var(--lightGreen);
      background: var(--darkPink);
    }
    &:focus {
      border: 1px solid var(--lightGreen);
    }
  }

  .error-message {
    margin: 1.5vh;
    font-size: 16px;
    font-family: "Antic", sans-serif;
    color: var(--lightGreen);
    font-weight: lighter;
    text-transform: uppercase;
  }

  .password-secure-indicator {
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 8px;

    .secure-bar {
      width: 40px;
      height: 10px;
      border-radius: 5px;
      background-color: var(--darkPink);
      border: 1px solid;
      border-color: var(--lightGreen);
    }

    .secure-bar.weak {
      width: 40px;
      height: 10px;
      border-radius: 5px;
      background-color: red;
    }

    .secure-bar.medium {
      width: 40px;
      height: 10px;
      border-radius: 5px;
      background-color: orange;
    }

    .secure-bar.strong {
      width: 40px;
      height: 10px;
      border-radius: 5px;
      background-color: green;
    }
  }

  .submit-btn-psw {
    display: flex;
    flex-direction: column;
    align-items: center;

    .button-psw-send {
      width: 90%;
      margin: 20px 0px;
      background: var(--pink);
      border: none;
      padding: 10px 20px;
      color: var(--lightGreen);
      font-family: "Antic", sans-serif;
      font-weight: lighter;
      text-transform: uppercase;
      font-size: 1em;
      cursor: pointer;

      &:hover {
        color: var(--darkPink);
        background: var(--lightGreen);
      }
    }

    .psw-done {
      margin: 1vh;
      font-size: 16px;
      font-family: "Antic", sans-serif;
      color: var(--lightGreen);
      font-weight: lighter;
      text-transform: uppercase;
    }
  }
}
